body{
    animation:  siu 10s infinite;
}
@keyframes siu{
    0%{
        background-color:cadetblue;
    }
    50%{
        background-color: cornflowerblue
    }
    100%{
        background-color: cyan;
    }
}

.title{
    background-color: blue;
    color: white;
    text-align: center;
    width: 400px;
    position: relative;
    left: 35%;
    margin-top: 400px;
    border-radius: 5px;
    text-shadow: -3px 0 0 rgb(236, 190, 89);




}


.paginas{
    margin-top: 400px;
    background-color: black;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgb(7, 7, 8)
}
.paginas a{
    color: white;
    text-align: center;
    line-height: 100px;
    width: 100px;
    height: 100px;
    position: relative;
    left: 38%;
  
  
}

.paginas a:hover{
    color: blue;
    background-color: coral;

}
.botonop{
    position: relative;
    bottom: 450px;
    left: 40%;
    width: 20%;
    padding: 9px;

}